.feedbackContainer {
  border: var(--baseBorder);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feedbackDetailsContainer {
  overflow-x: auto;
}

.noFeedbackContainer {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  margin: 0 auto;
  padding: 50px 30px;
}

.users,
.feedback {
  list-style-type: none;
}

.users {
  border-right: var(--baseBorder);
}

.users h3,
.feedback h2 {
  margin: 0;
}

.feedback li {
  padding: 1.5rem;
}

.users li,
.feedback li {
  border-bottom: var(--baseBorder);
}

.feedback li:last-child {
  border-bottom: none;
}

.feedbackButton {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.feedbackButton:hover {
  cursor: pointer;
  background-color: var(--highlightedLightColor);
}

.active {
  background-color: var(--lightGrey);
}

.skipped {
  background-color: var(--grey);
  border-radius: 3px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 10px;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: none;
  margin-top: 18px;
  padding-left: 26px;
}

.feedbackDetailsItem {
  display: flex;
  gap: 5%;
}

.feedbackDetailsItem p {
  flex: 1;
}

.responseContainer {
  flex: 1;
  min-width: 365px;
}

.text {
  font-weight: 600;
  font-size: 14px;
  min-width: 365px;
}

@media only screen and (max-width: 1100px) {
  .feedbackDetailsItem {
    flex-direction: column;
  }

  .responseContainer {
    margin-top: 0.45em;
    border-top: 1px solid var(--lightGrey);
  }
}
